body {
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    background-color: #FFFFFF;
    font-size: 16px;
    color: #acaeaf;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    /* text-align: center; */
    font-weight: 400;
}


a {
    transition: color 0.1s ease-in, all 0.1s ease-in;
    text-decoration: none;
}


img {
    border-radius: 8px;
  }

  
.has-image {
    float: right;
    padding-top: 200px;
    padding-right: 0.833rem;
    /* border-style: solid; */
    display:block;
    float: right;



    
}
.has-description {
    /*overflow:hidden;*/
    padding-left: .83333rem;
    padding-right: .83333rem;
    padding-top: 5rem;
    /* border-style: solid; */
    display:block;
    float: left;
    width: 700px;


    /* align-items: center; */

}


.headerName {
    padding-top: 200px;
    padding-left: .83333rem;
    /* color: #24292e; */
    font-weight: 900;
    text-align: left;
    margin-bottom: 2px;
    overflow-wrap: break-word;

    
}

.headerlead {
    padding-top: 8px;
    padding-left: .83333rem;
    font-size: 1.06rem;
    line-height: 25px;
    /* width: 800px; */
    margin-top: -6px;
    color: #7a7c7d;
    /* max-width: 800px; */
    font-weight: 550;
    font-family: "Inter", sans-serif;
}



.headerlead.small {
    border-top: none;
    font-size: 1.0rem;
}



div#particles-js {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: -100;
}



.flex-item-txtblock {
    padding-top: 50px;
    padding-left: 300px;
    padding-right: 300px;
    /* margin-top: 30px; */
    height: 100vh;
}


.contactBar {
    background-color: black;
    opacity: 0.75;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.0rem;
    line-height: 25px;
    padding: 12px;
    /* min-width: 1110px;
    max-width: 1110px; */
}


.contactDetails a {
    color: #FFFFFF;
    text-decoration: none;
}
