<!--
<div class="row">
  <div class="col-md-4" *ngFor="let key of bList | keys">
    <p>
      <a target="_blank" href="{{bList[key].blobName}}">
        <img src="{{bList[key].blobName}}" width="100px" height="100px" />
      </a>
    </p>
    <p><a class="btn btn-default" href="#">{{bList[key].blobName}}</a></p>
  </div>
</div>
-->
<div class="row">
  <h2>Blobs in Container: {{containerName}}</h2>
  <div class="col-md-4" *ngFor="let key of bList | keys">
    <p><a class="btn btn-default" href="#">{{bList[key].blobName}}</a></p>
  </div>
</div>
<!--
</div>
<div class="row">
  <div class="col-md-4">
    <h2>Thumbnail imageBlobUrl</h2>
    <img [src]="imageBlobUrl">
  </div>
</div>
-->
